@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body{
    background-color: blue;
    font-family: 'Poppins', sans-serif;
}

